<div class="row justify-content-md-center mt-3">
  <div class="col-md-auto">
    <form action="/" method="POST">
      <span>
        Hi 右邊的格子不能是空的喔!
      </span>  
      <input style="vertical-align: middle;display:inline" type="text" placeholder="請輸入要縮短的網址" name="originalUrl">
    <button class="btn btn-danger">Submit!</button>
    </form>
  </div>
</div>