{{#if value}}
<div class="row justify-content-md-center mt-3">
  <div class="col-md-auto text-center">
    已經成功縮成短網址囉
  </div>
</div>
{{/if}}
<div class="row justify-content-md-center mt-3">
  <div class="col-md-auto">
    <form action="/" method="POST">
      {{#if value}}
      {{else}}http://{{/if}}
      <input style="vertical-align: middle;" type="text" placeholder="請輸入要縮短的網址" name="originalUrl" {{#if value }} value="localhost:3000/{{value}}" {{/if}}>
    <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>