
<div class="row justify-content-md-center mt-3">
  <div class="col-md-auto">
    <form action="/" method="POST">
      <input style="vertical-align: middle;" type="text" placeholder="請輸入要縮短的網址" name="originalUrl" value="localhost:3000/{{value}}">
    <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>